.shopContainer {
  height: var(--visible-height);
  padding-top: 30px;
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  float: left;
  padding-top: 10px;
  width: var(--categories-container-width);
  height: 100%;

  button {
    height: 50px;
    width: 100%;
    transition: all 0.5s ease-out;
  }
}

.active-category {
  background-color: var(--azure-color);
  color: #fff;

  &:hover {
    background-color: var(--sapphire-color);
  }
}

.productsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: calc(
    var(--container-width) - var(--categories-container-width) - 20px
  );
  width: 100%;
  gap: 0 30px;
  height: 100%;
}

.productsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: var(--visible-height);
  padding-bottom: 20px;
}

.pagination-wrapper {
  align-self: flex-end;
}

// =============================
.singleProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 300px;
    margin-bottom: 20px;
    height: auto;
    display: block;
    object-position: center;
    object-fit: cover;
  }

  .single-review {
    margin-bottom: 20px;
  }
  h4 {
    margin-top: 15px;
  }
}

@media (max-width: 751px) {
  .shopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
  }

  .categoriesContainer {
    height: min-content;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }

  .productsWrapper {
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .productsContainer {
    align-items: center;
    align-self: flex-end;
  }

  .categorySelect {
    height: 40px;
    max-width: 300px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
  }
}

@media (max-width: 691px) {
  .categoriesContainer {
    margin-top: var(--navbar-height);
  }
  .productsContainer {
    gap: 0 5px;
  }
}
