.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;

  &__image {
    width: 100px;
    height: 75px;
    object-fit: cover;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__details {
    flex-grow: 1;
  }

  &__name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  &__quantity {
    font-size: 0.65rem;
    color: #555;
  }

  &__price {
    font-size: 0.75rem;
    color: #777;
  }

  &__total-wrapper {
    display: flex;
    align-items: center;
  }

  &__total {
    font-weight: bold;
    margin-right: 10px;
  }

  &__remove-button {
    border: 1px solid #dc3545;
    background-color: #fff;
    color: #dc3545;
    font-size: 1rem;
    cursor: pointer;
  }
  @media (max-width: 991px) {
    &__wrapper {
      flex-direction: column;
    }

    &__name {
      margin-bottom: 0;
      max-width: 300px;
      width: 100%;
    }
  }

  // @media (max-width: 751px) {

  //   &__name {
  //     margin-bottom: 0;
  //     max-width: 300px;
  //     width: 100%;
  //   }
  // }
}
