:root {
  --navbar-height: 80px;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 15px;
}

.logo {
  text-decoration: none;
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(63, 63, 63);
}

.navbar-container {
  height: var(--navbar-height);
}
.contactUs-container {
  height: calc(100vh - var(--navbar-height));
}

.contactUs-form {
  max-width: 1000px;
  width: 100%;
}
